.dark-blue-text {
    color: #04446B;
}

.light-blue-text {
    color: #81C4EE;
}

.card {
    border-radius: 4px;
    background-color: white;
    padding: 30px;
    margin: 10px;
    box-shadow: 0px 4px 19px #ECEEF3;
}

.upper-case-text {
    text-transform: uppercase;
}

.flex {
    display: flex;
  }

  .flex-space {
    display: flex;
    justify-content: space-between;
  }